.modalwindow {
  position: absolute;
  width: 30%;
  height: 20%;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid black;
}

.modalwindow h1,
.modalwindow h3,
.modalwindow h4{
    font-family: 'Arimo', sans-serif;
}

.modalwindow h1 {
    text-align: center;
}

.modalwindow input {
    margin-left: 20%;
    text-align: center;
}


.cancelbutton,
.enterbutton {
    display: inline;
}

.cancelbutton,
.enterbutton {
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cancelbutton h4 {
    background-color: white;
    color: grey;
    text-align: center;
    width: 25%;
    border: 2px solid black;
    margin-left: 35%;
}

.cancelbutton h4:hover,
.enterbutton h4:hover {
    background-color: black;
    color: white;
}


input[type=submit] {
    font-family: 'Arimo', sans-serif;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid black;
    background-color: white;
    color: grey;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}
