<section class="container">
    <div class="sidebar">
        <h1>Bloc Chat</h1>
        <div class="newRoom" ng-click="home.Room.open()">
            <h2>New Room</h2>
        </div>
        <div class="rooms" ng-repeat="obj in home.Room.all">
            <h2 ng-click="home.Message.getByRoomId(home.Room.all[$index].$id, $index)">{{ home.Room.all[$index].room }}</h2>
        </div>
    </div>

    <div class="chats">
        <h1>{{ home.Room.all[home.Message.index].room }}</h1>
        <div class="chatContainer" ng-repeat="(key,value) in home.Message.selectedRoom">
            <div ng-class="home.Message.userDivSelector(home.Message.selectedRoom[key].username)">
                <h2>{{home.Message.selectedRoom[key].username}}</h2> <h3>{{home.Message.selectedRoom[key].sentat}}</h3>
                <h2>{{home.Message.selectedRoom[key].content}}</h2>
            </div>
        </div>
    </div>
    <div class="chatfield">
          <form class="messagebar" novalidate>
              <input ng-model="chatmessage">
              <input type="submit" placeholder="Type Message Here" ng-click='home.Message.send(chatmessage)' value="Enter">
          </form>
    </div>
</section>
